body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1B3A57; /* Dark background color */
    color: #ffffff; /* Light text color */
    min-height: 100vh;
    width: 100%;
}

html {
    margin: 0;
    padding: 0;
    background-color: #1B3A57;
    min-height: 100vh;
}

#root {
    margin: 0;
    padding: 0;
    background-color: #1B3A57;
    min-height: 100vh;
    width: 100%;
}

.App {
    text-align: center;
    margin: auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #2C3E50; /* Darker header background */
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h6 {
    margin: 0;
}

section {
    margin: 20px 0; /* Space between sections */
}

.grid-box {
    background-color: #1f1f1f; /* Darker box background */
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

a {
    color: #61dafb; /* Link color */
}
